fastapi==0.115.8
uvicorn==0.34.0
sqlalchemy==2.0.38
PyJWT==2.10.1
passlib==1.7.4
bcrypt==4.2.1
python-multipart==0.0.20
deepface==0.0.79

numpy==1.23.5
opencv-python-headless==4.7.0.72
pillow==9.5.0
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
tensorflow==2.15.0
